@font-face {
    font-family: 'Alba';
    src: url(../fonts/ALBA____.TTF);
}

@font-face {
    font-family: 'AlbaM';
    src: url(../fonts/ALBAM___.TTF);
}

body {
    line-height: 17px;
}

.top_bar {
    width: 100%;
    height: 40px;
    background-color: #d35400;
    border-bottom: 5px solid #f39c12;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
    z-index: 10px;
    position: fixed;
    z-index: 10;
}

.logo a {
    font-family: 'Alba', sans-serif;
    margin-left: 10px;
    font-size: 30;
    position: relative;
    top: 9px;
    text-shadow: #73B6E2 0.5px 0.5px 0px;
    color: #ffffff
}

a:hover {
    text-decoration: none;
}

nav {
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}

nav a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 17px;
}

nav a:hover {
    border-bottom: 1px solid;
}

.wrapper {
    margin: 0 auto;
    top: 50px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
}

.column {
    background-color: white;
    padding: 10px 10px;
    border: 1px solid lightcoral;
    border-radius: 5px;
    box-shadow: 2px 2px 1px red;
}

.user_details {
    width: 250px;
    float: left;
    margin-bottom: 20px;
}

.user_details_left_right {
    width: 125px;
    display: inline-block;
    position: absolute;
}

.user_details img {
    height: 125px;
    border-radius: 5px;
    margin-right: 5px;
}

.main_column {
    float: right;
    width: 70%;
    z-index: -1;
    min-height: 160px;
}

.post_form {
    width: 100%
}

.post_form textarea {
    width: 80%;
    height: 60px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid #030303;
    font-size: 12px;
}

textarea:focus {
    /* removes blue outline around text input box */
    outline: 0;
}